# ExtJS
bootstrap.json
.sencha/
build/
ext/
modern/
sass/
!classic/sass/
!modern/sass/
Readme.md
classic.json
modern.json

# IntelliJ
.idea/

# scss
*.css.map
classic/sass/**/*.css
modern/sass/**/*.css

# Images
fisheye-placebo.jpg