$base-color: #006e2e;

.title-icon-skrubba { background-image: url('images/skrubba-icon.png'); }
.x-panel-body-default { background-color: transparent !important; }
.x-form-type-checkbox { margin-top: 8px !important; }
.x-grid-item-editable { background-color: #efb7a4 !important; }
.x-grid-item-warning { background-color: red !important; }